* {
    font-family: 'Courgette', cursive;
}

.logoStyle{
    width: 35%;
}

.main{
    display: flex;
    justify-content: center;
    margin: 3%;
}

.mainCont{
    display: flex;
    flex-direction: column;
}

.prodCards{
    display: flex;
    justify-content: space-between;
}

.countInp{
    width:30%;
}

.countInpu{
    display: flex;
    margin-bottom: 2%;
}

.countText{
    width: inherit;
    height: 140%;
    justify-content: center;
}

.itemDet{
    display: flex;
}